<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Funciones.De</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/public/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
   <link href="/public/assets/css/flat-ui.css" rel="stylesheet">
    <link href="/public/assets/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/public/assets/bootstrap/css/bootstrap-theme.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="blanco navbar-fixed-top">
        <div class="container">
             <div class="col-xs-3 col-sm-2 col-md-1">
            </div>
            <div class="col-xs-6 col-sm-8 col-md-10">
                <header>
                    <span class="titulo">Funciones</span>
                </header>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1 views">
                <a href="cuadros.html"><span class="fui-checkbox-unchecked active"></span></a>
                <a href="lista.html"><span class="fui-list"></span></a>
            </div>  
        </div>
    </div>
    <div class="container">
        <div class="space100">
        <div class="row">
          {{range .films}}
	    <div class="col-xs-6 col-sm-3 col-md-2 movie">
                <img class="img-responsive thumbnail" src="{{.Img}}">
                <div class="tituloC"><a href="#{{.Title}}">{{.Title}}</a></div>
            </div>
	  {{end}}
        </div>
    </div>
    <!-- /.container -->
    {{$horariosByFilm := .horariosByFilm}}
    {{range .films}}
	{{$funciones := index $horariosByFilm .Title}}
        {{$film := .}}
        {{template "despliegaFilms" $funciones}}	
    {{end}}

    <!-- Load JS here for greater good =============================-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
