{{define "despliegaFilms"}}
   {{$first := index . 0}}
   <div class="container">
        <div class="space100">
        <hr>
        <article class="lista">
            <div class="row">
                <div class="info">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <img class="img-responsive thumbnail" src="{{$first.Img}}">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10">
                        <a name = "{{$first.Title}}"><span class="titulo">{{$first.Title}}</span></a><br />
                        <span class="clasificacion">Clasifiación: {{$first.Rating}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 slider">
		  {{range .}}
		    <div class="date" id = "horario1">
                        <p class="hora {{.Language}} {{.RoomType}}" title="{{.CineName}}">{{.Time}}</p>
                        <img class="img-responsive" src="/public/img/{{.Cine}}.png">
                    </div>
		  {{end}}
                </div>
            </div>
            <div class="row">
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos1">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                        <li>Complejo C</li>
                        <li>Complejo D</li>
                        <li>Complejo E</li>
                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos2">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                        <li>Complejo C</li>
                        <li>Complejo D</li>
                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos3">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                        <li>Complejo C</li>
                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos4">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos5">
                    <ul>
                        <li>Complejo A</li>

                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos6">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>

                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos7">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                        <li>Complejo C</li>
                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos8">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                        <li>Complejo C</li>
                        <li>Complejo D</li>
                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos9">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                        <li>Complejo C</li>
                    </ul>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12 complejos" id = "complejos10">
                    <ul>
                        <li>Complejo A</li>
                        <li>Complejo B</li>
                    </ul>
                </div>
            </div>
        </article>
        </div>
    </div>
    <!-- /.container -->
{{end}}
